I just generally import these libraries every time:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

You'll need to get your cwd changed to wherever you save the CSV:

In [2]:
os.chdir('c:\\Users\\jdesantis\\Desktop')

Read the CSV in as a dataframe object:

In [3]:
SPX = pd.read_csv('SPX_moving_average.csv')

See what's in it:

In [4]:
SPX.head(10)

   SPX Index  PX_LAST
0  1/22/1990   330.38
1  1/23/1990   331.61
2  1/24/1990   330.26
3  1/25/1990   326.08
4  1/26/1990   325.80
5  1/29/1990   325.20
6  1/30/1990   322.98
7  1/31/1990   329.08
8   2/1/1990   328.79
9   2/2/1990   330.92

Add a column for the moving averages:

In [5]:
SPX['MovingAverage'] = 0

Check that it was added:

In [6]:
SPX.head()

   SPX Index  PX_LAST  MovingAverage
0  1/22/1990   330.38              0
1  1/23/1990   331.61              0
2  1/24/1990   330.26              0
3  1/25/1990   326.08              0
4  1/26/1990   325.80              0

Set the window size (number of days):

In [7]:
w = 10

Calculate moving averages and put them in the dataframe:

In [8]:
for i in range(0,SPX.shape[0]):
    if i > 8:
        ma = np.mean(SPX['PX_LAST'][i-9:i])
        SPX.loc[i, "MovingAverage"] = ma

In [9]:
SPX.head(20)

    SPX Index  PX_LAST  MovingAverage
0   1/22/1990   330.38       0.000000
1   1/23/1990   331.61       0.000000
2   1/24/1990   330.26       0.000000
3   1/25/1990   326.08       0.000000
4   1/26/1990   325.80       0.000000
5   1/29/1990   325.20       0.000000
6   1/30/1990   322.98       0.000000
7   1/31/1990   329.08       0.000000
8    2/1/1990   328.79       0.000000
9    2/2/1990   330.92     327.797778
10   2/5/1990   331.85     327.857778
11   2/6/1990   329.66     327.884444
12   2/7/1990   333.75     327.817778
13   2/8/1990   332.96     328.670000
14   2/9/1990   333.62     329.465556
15  2/12/1990   330.08     330.401111
16  2/13/1990   331.02     331.190000
17  2/14/1990   332.01     331.405556
18  2/15/1990   334.89     331.763333
19  2/16/1990   332.72     332.204444

In [10]:
SPX.tail()

      SPX Index  PX_LAST  MovingAverage
7549   1/8/2020  3253.05    3236.837778
7550   1/9/2020  3274.70    3240.134444
7551  1/10/2020  3265.35    3244.000000
7552  1/13/2020  3288.13    3246.814444
7553  1/14/2020  3283.15    3254.241111

Import the timeit library:

In [11]:
import timeit

In [12]:
number_of_times = 10

In [16]:
code_to_time = '''
for i in range(0,SPX.shape[0]):
    if i > 8:
        ma = np.mean(SPX['PX_LAST'][i-9:i])
        SPX.loc[i, "MovingAverage"] = ma
'''        
time_of_execution = timeit.timeit(stmt = code_to_time, number = number_of_times, globals = globals()) / number_of_times
print('Average time of execution in seconds is: ' + str(time_of_execution))

Average time of execution in seconds is: 4.299598364899998